<h3>Consulta de Editora</h3>
<hr />

<div>
    {{mensagem}}
</div>
<div class="container">
    <div class="row">
        <div class="form-inline">
            <div class="form-group">
                Pesquisar:
                <input type="text" class="form-control" placeholder="Digite aqui" ng-model="pesquisa" />
            </div>
            <div class="form-group">
                Ordenar por:
                <select class="form-control" ng-model="ordenacao">
                    <option value="">- Escolha uma Opção -</option>
                    <option value="IdEditora">Código</option>
                    <option value="Nome">Nome da Editora</option>
                    <option value="QtdLivrosPublicados">Qtd. de Livros Publicados</option>
                </select>
            </div>
        </div>
    </div>
</div>

<br /><br />

<div ng-show="editoras.length == 0">
    Editora(s) não encontrada(s).
</div>

<div class="table-hover" ng-show="editoras.length > 0">
    <table class="table" ng-init="consultar()">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nome da Editora</th>
                <th>Qtd. de Livros Publicados</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="e in editoras | filter : pesquisa | orderBy : ordenacao">
                <td>{{e.IdEditora}}</td>
                <td>{{e.Nome}}</td>
                <td>{{e.QtdLivrosPublicados}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">
                    Total de registros: {{(editoras | filter : pesquisa).length}}
                </td>
            </tr>
        </tfoot>
    </table>
</div>
