<h3>Consulta de Autor</h3>
<hr />

<div>
    {{mensagem}}
</div>

<br />

<div class="container">
    <div class="row">
        <div class="form-inline">
            <div class="form-group">
                Pesquisar:
                <input type="text" class="form-control" placeholder="Digite aqui" ng-model="pesquisa" />
            </div>
            <div class="form-group">
                Ordenar por:
                <select class="form-control" ng-model="ordenacao">
                    <option value="">- Escolha uma Opção -</option>
                    <option value="IdAutor">Código</option>
                    <option value="Nome">Nome do Autor</option>
                    <option value="QtdLivros">Qtd. de Livros</option>
                </select>
            </div>
        </div>
    </div>
</div>

<br /><br />

<div ng-show="autores.length == 0">
    Autor(es) não encontrado(s).
</div>

<div class="table-hover" ng-show="autores.length > 0">
    <table class="table" ng-init="consultar()">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nome do Autor</th>
                <th>Qtd. de Livros</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="a in autores | filter : pesquisa | orderBy : ordenacao">
                <td>{{a.IdAutor}}</td>
                <td>{{a.Nome}}</td>
                <td>{{a.QtdLivros}}</td>
                <td>
                    <button class="btn btn-danger btn-sm" ng-click="excluir(a.IdAutor)">
                        Excluir
                    </button>
                </td>
                <td>
                    <button class="btn btn-primary btn-sm" data-target="#janela" data-toggle="modal" ng-click="abrir(a.IdAutor)">
                        Abrir
                    </button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">
                    Total de registros: {{(autores | filter : pesquisa).length}}
                </td>
            </tr>
        </tfoot>
    </table>
</div>

<div class="modal fade" id="janela">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h3>Atualizar dados do Autor: {{upModel.IdAutor}}</h3>
            </div>
            <div class="modal-body">
                <label>Nome do Autor:</label>
                <input type="text" class="form-control" placeholder="Nome do Autor" ng-model="upModel.Nome" />
                <br />
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" ng-click="atualizar()" data-dismiss="modal">
                    Atualizar dados
                </button>
            </div>
        </div>
    </div>
</div>