<h3>Consulta de Livro</h3>
<hr />

<div>
    {{mensagem}}
</div>

<br />

<div class="container">
    <div class="row">
        <div class="form-inline">
            <div class="form-group">
                Pesquisar:
                <input type="text" class="form-control" placeholder="Digite aqui" ng-model="pesquisa" />
            </div>
            <div class="form-group">
                Ordenar por:
                <select class="form-control" ng-model="ordenacao">
                    <option value="">- Escolha uma Opção -</option>
                    <option value="IdEditora">Código</option>
                    <option value="Nome">Nome da Editora</option>
                    <option value="QtdLivrosPublicados">Qtd. de Livros Publicados</option>
                </select>
            </div>
        </div>
    </div>
</div>

<br /><br />

<div ng-show="livros.length == 0">
    Livro(s) não encontrado(s).
</div>

<div class="table-hover" ng-show="livros.length > 0">
    <table class="table" ng-init="consultar()">
        <thead>
            <tr>
                <th>Código</th>
                <th>Título</th>
                <th>ISBN</th>
                <th>Gênero</th>
                <th>Sinopse</th>
                <th>Nome do Autor</th>
                <th>Nome da Editora</th>
                <th>Categoria</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="l in livros | filter : pesquisa | orderBy : ordenacao">
                <td>{{l.IdLivro}}</td>
                <td>{{l.Titulo}}</td>
                <td>{{l.ISBN}}</td>
                <td>{{l.Genero}}</td>
                <td>{{l.Sinopse}}</td>
                <td>{{l.NomeAutor}}</td>
                <td>{{l.NomeEditora}}</td>
                <td>{{l.Categoria}}</td>
                <td>
                    <button class="btn btn-danger btn-sm" ng-click="excluir(l.IdLivro)">
                        Excluir
                    </button>
                </td>
                <td>
                    <button class="btn btn-primary btn-sm" data-target="#janela" data-toggle="modal" ng-click="abrir(l.IdLivro)">
                        Abrir
                    </button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8">
                    Total de registros: {{livros.length}}
                </td>
            </tr>
        </tfoot>
    </table>
</div>

<div class="modal fade" id="janela">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h3>Atualizar dados do Livro: {{upModel.IdLivro}}</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Titulo:</label>
                            <input type="text" class="form-control" placeholder="Título" ng-model="upModel.Titulo" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>ISBN:</label>
                            <input type="text" class="form-control" placeholder="ISBN" ng-model="upModel.ISBN" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Gênero:</label>
                            <input type="text" class="form-control" placeholder="Gênero" ng-model="upModel.Genero" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Categoria:</label>
                            <input type="text" class="form-control" placeholder="Categoria" ng-model="upModel.Categoria" />
                        </div>
                    </div>
                </div>

                <div class="row" ng-controller="livro-cadastro-controller">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Selecione o Autor:</label>
                            <select class="form-control" ng-model="upModel.AutorId" ng-options="a.IdAutor as a.Nome for a in autores">
                                <option value="">- Escolha uma Opção -</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Selecione a Editora:</label>
                            <select class="form-control" ng-model="upModel.EditoraId" ng-options="e.IdEditora as e.Nome for e in editoras">
                                <option value="">- Escolha uma Opção -</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>Sinopse:</label>
                            <textarea class="form-control" placeholder="Sinopse" rows="3" ng-model="upModel.Sinopse"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" ng-click="atualizar()" data-dismiss="modal">
                    Atualizar dados
                </button>
            </div>
        </div>
    </div>
</div>
